<p id="notice"><%= notice %></p>
<center>

<h3><font color="blue">Listing Posts</font></h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th>Body</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td></td>
        <td><%= post.body %></td>
        <td></td>
        <td><%= link_to 'Show', post %></td>
        <% if user_signed_in? %>
          <% if current_user.id == post.user_id %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
</center>